.rightsidepaymentdiv {
    position: relative;
    float: right;
    margin-right: 200px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
}
.headofpaymentform {
    font-weight: 650;
    text-align: center;
}
.roomtypetext {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
.whatsappbookingupdate {
    margin-left: 10px;
}
.whatsappicon {
    color: green;
    margin-left: 5px;
}
.amountfetched {
    text-align: right;
    margin-right: 10px;
    font-weight: 500;
}
.peopleadditionbutton {
    border: 1px solid black;
    background-color: white;
}
.countvaluemain {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 2px;
}